.pronounce-container {
  text-align: right;
}

.pronounce-item {
  text-decoration: underline;
  display: inline-block;
  cursor: pointer;
  color: green;

  & + .pronounce-item {
    margin-left: 5px;
  }
}

.add-to-note-book-container {
  display: block;
}

.add-to-notebook-button {

}

.result-content-container {
  overflow: hidden;
  background: #eee;
  padding: 1px 10px;
  margin-top: 10px;
}

.result-footer {
  text-align: right;
  margin-top: 10px;
}
